.container {
  padding: 0px 60px;
  flex-direction: column;
  flex: 0;
  display: flex;
}

.grid {
  flex-direction: row;
  background-color: #fff;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  background-color: #ffffff;
  background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png');
  justify-content: center;
}

.load-state {
  flex: 1;
  background-color: #eee;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  display: flex;
}
