.container-navbar {
  background-color: #fff;
  padding: 0px 60px;
  top: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  overflow: hidden;
  display: flex;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #ececec, 5px 5px 15px 5px rgba(0, 0, 0, 0);

  @media screen and (max-width: 768px) {
  }
}
