.search-bar-reset-button {
  border-radius: 15px;
  border-color: #eee;
  border-style: solid;
  border-width: 0.1px;
  background-color: #fff;
  margin: 0px 2px;
  transition: border-color 0.5s;
  &:hover {
    cursor: pointer;
    border-color: #333;
  }
}
.reset-label {
  margin-left: 5px;
  color: #333;
}
