$base-width: 200px;

.scope-card {
  padding: 30px;
  margin: 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
  width: $base-width;
  border-radius: 10px;
  background-color: rgb(245, 245, 245);
  background-image: url('https://www.transparenttextures.com/patterns/brilliant.png');
  transition: all 0.5s, height 1s;

  &:hover {
    cursor: pointer;
    box-shadow: 10px 10px 10px #eee;
    border-width: 5px;
    border-color: #333;
  }
}

.action-row {
  flex-direction: row;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-details {
  background-color: blueviolet;
  color: #fff;
  border-radius: 50px;
  border-color: transparent transparent transparent;
  transition: box-shadow 0.5s;
  &:hover {
    cursor: pointer;
    box-shadow: 10px 10px 10px #fff;
  }
}

.button-label {
  font-size: 15px;
  flex-direction: row;
  align-items: center;
  flex: 1;
}

.description {
  font-size: 15px;
}

.full-name {
  color: rgb(207, 11, 11);
  font-size: 13px;
}

.stats-row {
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  display: flex;
}

.stat-item {
  flex-direction: row;
  display: flex;
  align-items: center;
  background-color: blueviolet;
  flex: 1;
  margin: 2px 2px;
  width: fit-content;
  padding: 5px;
  border-radius: 10px;
}

.stat-label {
  margin: 0px 5px;
  color: #fff;
}
