.search-bar-container {
  padding: 0px 50px;
  margin: 10px;
  border-color: #333;
  border-width: 5px;
  flex: 1;
  display: flex;
  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
  }
}
