.details-container {
  background-color: #fff;
  padding: 15px;
  border-radius: 15px;
  width: 50vw;
  margin-right: 300px;
}

.cards-wrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
}
