.container {
    background-color: #fff;
    padding: 0px 60px;
    top: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    overflow: hidden;
    display: flex;
    position: fixed;
}